<launch>
  <node pkg="rosserial_python" name="rosserial_bcu" type="serial_node.py" output="screen">
    <!-- /dev/ttyUSB0 to /dev/t3_bcu -->
    <param name="port" value="/dev/t3_bcu" />
    <param name="baud" value="57600" />
  </node>

  <node pkg="tictactoe" name="t3_cpu_node" type="t3_cpu_node"></node>

</launch>
